@use '../abstracts/color' as *;

.desktopScreenRotation {
  animation: rotation 0.7s forwards linear;
}

@keyframes rotation {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

dl {
  background: repeating-linear-gradient(to right, #898989, #898989 1px, $white 1px, $white 9.9%);
}
