@use '../abstracts/color' as *;

.sphere {
  position: absolute;
  background: radial-gradient(92.23% 73.1% at 31.34% 23.1%, #f906e8 0%, rgba(128, 6, 249, 0) 100%);
}
.sphereTwo {
  position: absolute;
  background: radial-gradient(92.23% 73.1% at 31.34% 23.1%, #f99106 0%, rgba(249, 6, 6, 0.0416667) 100%);
}

.desktopScreenRotation {
  animation: rotation 0.7s forwards linear;
}

@keyframes rotation {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

dl {
  background: repeating-linear-gradient(to right, #898989, #898989 1px, $white 1px, $white 9.9%);
}
